/* FOR FOLLOWERS GRAPH */

.link {
  fill: none;
  stroke: gray;
  stroke-width: 1.5px;
}

.node circle {
  fill: #ccc;
  stroke: #fff;
  stroke-width: 1.5px;
}

text {
  font: 10px sans-serif;
  pointer-events: none;
}


.red {
  background-color: red;
  fill: red;
}

.circle {
  opacity: 0.4;
}


.btn {
  margin: 20px;
  padding: 10px;
}
/* FOR FOLLOWERS MAP */




path {
  stroke: white;
  stroke-width: 0.25px;
  fill: grey;
}


.map {
  margin: 30px auto;
  border: 2px solid black;
}

div.tooltip {   
  position: absolute;           
  padding: 2px;             
  font: 12px;  
  color: white;
  text-align: center;
  border: 1px solid black;       background: black;  
  pointer-events: none;         
}
